// Global CSS goes here
html, body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: 300;
	line-height: 24px;
	color: $darkGray;
	box-sizing:border-box; 
}

* {
	box-sizing:inherit;
}

.section {
	min-height:45vh;
	padding-top:40px;
	padding-bottom:40px;
	display: flex;
    align-items: center;
    background-color:#ccc; 
}

.section.about, .section.mywork {
	background-color: #ddd;
}

.services {
 
}
 
.hero {
	min-height:75vh;
	background-color:#333;
	color:$white;
	display:flex;
	align-items:center;
	h1 {
		font-family: 'Alfa Slab One', serif;
		letter-spacing: 2px;
		font-weight:100;
		font-size:3rem;
		line-height:2.8rem;
	}
}

.service {
	border:none; 

	div {
		
		
	}

	&:last-child {
		border-right:none;
	}
}

.input-text, select {
  width: 100%;
  border-radius: 0px;
  -webkit-appearance: none;
  background: #FFFFFF;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.8); 
  letter-spacing: 0.58px;
  border: 1px solid #333;
  padding-left: 5px;
  cursor: pointer; } 

label {
  cursor: pointer;
  color: #fff; }

select { 
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  padding: 5px;
  background: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24' height='24' viewBox='0 0 24 24'><path fill='#444' d='M7.406 7.828l4.594 4.594 4.594-4.594 1.406 1.406-6 6-6-6z'></path></svg>");
  background-position: 100% 50%;
  background-color: #fff;
  background-repeat: no-repeat; }

select > option { 
  -webkit-appearance: none;
  background-color: #fff;
  color: #000; }


.input-single-line {
  height: 38px;
  padding: 5px 10px;
  font-style: italic; }

.input-wrap {
  padding: 0.5em !important; }

textarea {
  height: 250px; }
.contact .btn {
 border:1px solid #333;
 }
