// Global CSS goes here
html, body {
	font-family: 'Droid Serif', serif;
	font-size: 16px;
	font-weight: 300;
	line-height: 24px;
	color: $darkGray;
	box-sizing:border-box;
}

* {
	box-sizing:inherit;
}

.section {
	min-height:45vh;
	padding-top:40px;
	padding-bottom:40px;
	display: flex;
    align-items: center;
}

.section.about, .section.mywork {
	background-color: #eee;
}

.services {

}
 
.hero {
	min-height:75vh;
	background-color:#333;
	color:$white;
	display:flex;
	align-items:center;
	h1 {
		font-family: 'Alfa Slab One', serif;
		letter-spacing: 2px;
		font-weight:100;
		font-size:3rem;
		line-height:2.8rem;
	}
}

.service {
	border-right:1px solid $lightGray;

	div {
		
		
	}

	&:last-child {
		border-right:none;
	}
}

 