.mobile-only {
	display:none;
}

.lede-col {
	width:70%;
}

.hero-img {
	width:30%;

}

.nav__main {
	display:block;
	background:transparent;
	position:static;
	float:right;
	padding:0px;
	&:hover {background:none;}
}

.nav__item {
	display:inline-block;
	margin:0px 15px;
	border-bottom:2px solid rgba(0,0,0,0);
	transition:0.5s;
	&:hover {
		border-bottom:2px solid $brandDarkOrange;
	}
}

.nav__link {
	font-size:16px;
	color: $medGray;
	font-style:normal;
	text-decoration:none;
	display:inline-block;
}

.hero {
	min-height:600px;
}



